.apple {
	background: url(../img/sprite.png);
	background-position: 0px 0px;
	height: 96px;
	width: 96px;
}
.drop {
	background-image: url(../img/sprite.png);
	background-position: 0px -96px;
	height: 128px;
	width: 128px;
}
.settings {
	cursor: url(../img/settings.png), default;
	background-color: white;
}
body {
	background-image: url(../img/sprite.png);
	background-position: 0px -224px;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}
.http {
	background: blue;
	background: url(http://i.imgur.com/uhMq0Re.jpg);
	padding: 10px 20px;
	margin: 10px 20px;
}
